$icon-font-path: '../fonts/';

html {
//overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

$page-color: #313131;
$border-color: #dddddd;

.document-visible {
	padding-right: 17px
}

*:focus {
	outline: none;
}



body {
	font-family: 'GothamPro', sans-serif;
	color: $page-color;
	font-weight: 400;
	background: #fff;
	//padding-right: 0 !important;
	height: 100%;
}

main {
	min-height: 100%;
}

.mask {
	background-color:rgba(0,0,0,.3);
    height:100%;
    position:fixed;
    width:100%;
    top:0;
    left:0;    
    z-index: 22;
    display: none;
}

.mask.mask-visible {
	display: block;
	transition: 0.6s;
}

.mask-hidden {
	
	transition: 0.6s;
}

.close {
	width: 22px;
	height: 22px;
}

.icon-menu-close {
	background: url(../images/menu-close.svg) no-repeat;
	display: inline-block;	
	width: 22px;
	height: 22px;	
}

.icon-mobile-menu {
	background: url(../images/mobile-menu.svg) no-repeat;
	display: inline-block;	
	width: 22px;
	height: 14px;	
} 

.img-wrap {
	overflow: hidden;
	
	img {
		 width: 100%;
	    height: 100%;
		 @include object-fit(cover);
	    -o-object-fit: cover;
	    object-fit: cover;
	}
}

.h-footer {
	height: 140px;
	clear: both;
}

.h-header {
	height: 95px;
	clear: both;
}

.title {
	font-size: 24px;
	font-weight: 100;
	margin-bottom: 20px;
}

.nice-select {
	
	.list {
		display: none;
	}

	&.open {

		.list {
			display: block;
		}

	}

}	

.warning-title {
	font-size: 30px;
}

.clearfix {

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}


.icon {
	display: inline-block;
	
}

.button-wrap {	

	.button {
		vertical-align: top;
		width: 230px;
		height: 45px;
		line-height: 45px;
		vertical-align: middle;
	}

	.icon-main-button {
		margin-right: 13px;
		vertical-align: top;
		margin-top: 13px;
	}	

}

.catalog-item {

	.img-wrap {
		position: relative;
		z-index: 1;
	}

	&:hover {	

		img {
			transform: scale(1.1);
			transition: all .5s;							
		}

		.name {

			a {
				text-decoration: underline;
			}

		}

	}

	&:not(:hover) {		

			img {		
			transition: all .5s;
		
		}

	}

}



.catalog-item-description {
		width: 100%;		
		
		p {
			text-align: center;
			font-size: 15px;

			a {
				color: $page-color;
				text-decoration: none;

				&:hover,
				&:focus,
				&:active {
					color: $page-color;
					text-decoration: none;
				}

				span {
					display: block;
				}

			}

		}

		.name {
			margin: 10px auto;

			a {
				display: block;
				//height: 37px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				}

				&:hover {
						text-decoration: underline;
				}


			}		

		}

		.price {
			font-size: 16px;
			font-weight: 600;
	}

	.news-block {
		background: #f2f9f9;		
		text-align: center;
		border-radius: 0 0 50% 50%;
		padding: 30px 50px 0 50px;
		position: relative;
		z-index: 10;

		&:after {
			content: "";
			background: #f2f9f9;
			border-radius: 0 0 50% 50%;
			width: 100%;
			height: 200px;
			position: absolute;
			left: 0;
			bottom: -37px;
			z-index: -1;
		}

		.news-text {
			margin-bottom: 28px;
		}

		.social-link {
			display: block;
			vertical-align: top;
			text-decoration: underline;
			color: #0080ff;
			font-size: 16px;
			font-weight: 400;
			margin-bottom: 17px;

			&:last-child {
				margin-bottom: 0;
			}

			&:hover,
			&:focus,
			&:active  {
				text-decoration: underline;
				color: #0080ff;
			}

		}

		.insta-icon {
			background: url(../images/insta.png);
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			vertical-align: middle;
		}

		.vk-icon {
			background: url(../images/vk.png);
			display: inline-block;
			width: 18px;
			height: 18px;
			margin-right: 10px;
			vertical-align: middle;
		}

	}

	.news-text {
		font-size: 16px;
		font-weight: 400;
	}

	


//animation

.is-hidden{
  opacity: 0;
}
.visible{
  opacity:1;
}

.page-container {
	height: 100%;

	.row {
		height: 100%;
	}

}


.button {
	background: #db385e;
	color: #fff;
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	display: inline-block;
	border-radius: 3px;
	vertical-align: top;
	border: none;

	&:hover,
	&:focus,
	&:active  {
		background: #cb3256;
		color: #fff;
		text-decoration: none;
		transition: background 0.5s ease;
	}

}

.content-button {
	color: #00b7b6;
	font-size: 14px;
	border: 1px solid #00b7b6;
	border-radius: 3px;
	font-weight: 600;
	width: 115px;
	height: 37px;
	text-align: center;
	display: inline-block;
	text-decoration: none;
	line-height: 37px;
	vertical-align: middle;

	&:hover,
	&:focus,
	&:active {
		text-decoration: none;
		background: #00b7b6;
		color: #fff;
		transition: background 0.5s ease;
	}

	i {
		font-style: normal;
	}

}

	.counter-list {		

		.counter-item {
		display: inline-block;
		margin-right: 30px;

		&:last-child {
			margin-right: 0;
		}

	}

	.counter-wrap {
		width: 130px;
		border: 1px solid $border-color;
		height: 30px;
		text-align: center;
		vertical-align: middle;
		font-size: 13px;		

		a {
			display: inline-block;
			cursor: pointer;
			width: 40px;
			height: 100%;
			color: #426995;
			vertical-align: middle;
			line-height: 30px;
			font-weight: 700;

			&:hover {
				text-decoration: none;
				color: #426995;
			}

		}

	}

	.left-btn {
		border-right: 1px solid $border-color;
		float: left;
	}
	.right-btn {
		border-left: 1px solid $border-color;
		float: right;
	}

	.counter {
		display: inline-block;
		height: 100%;
		color: #426995;
		padding: 7px 0;
		font-weight: 700;
	}
}

.paging {
	display: flex;	
	margin-bottom: 25px;

	li {
		border: 1px solid #979797;
		border-radius: 3px;
		padding: 10px 0;
		width: 40px;
		height: 40px;
		text-align: center;
		cursor: pointer;
		list-style: none;
		margin-right: 10px;

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			border: 1px solid #04aaa8;

			a {
				color: #04aaa8;
			}

		}

		a {
			font-size: 16px;
			text-decoration: none;
			font-weight: 600;
			color: #979797;
		}

		&.page-active {
			background: #04aaa8;
			border: #04aaa8;

			a {
				color: #fff;
			}

		}

	}

}

.button-wrap {

		.button {
			font-weight: normal;
		}

		.icon-cart-w {			
			margin-right: 13px;	
			vertical-align: top;
			margin-top: 10px;		
		}

	}

.button {

	.icon-main-button {			
		transition: all .15s ease-in-out;		
	}
	
}

.button.expanded {

		.icon-main-button {
			transform: rotate(180deg);
			transition: all .15s ease-in-out;		
		}

	}
		 

	




