$icon-font-path: '../fonts/';

@media only screen and (max-width: 667px) {

 //HOMEPAGE

 .login-header {	
		margin-bottom: 40px;		

	}


	.login-page, .thank-page {

		.center-block {
			margin: 40px auto;
		}
	}


	 	.homepage {

	 		.content-wrap {

	 			.title {
		 			display: inline-block;
		 			margin-right: 5px;
					font-size: 14px;
					width: 170px;
	 			}

	 		}

	 		.content-button {
	 			width: 80px;
	 			height: 30px;
	 			font-size: 12px;	 			
	 			line-height: 30px;
	 			vertical-align: middle;
	 		}

		 	.slide-wrap {

		 		.img-wrap {
					width: 220px;
		 		}

		 		.description-block {
		 			width: 220px;
		 			left: 50%;
		 			margin-left: -110px;
		 			font-size: 12px;
		 		}

		 	}

	 }

	 //ABOUT

	.about {

		.top-section {
			display: block;
			
		}

		.bottom-section {
			display: block;			
		}
	}

	 //CATALOG 

	.catalog {
		
	}	

}