$icon-font-path: '../fonts/';

@media only screen and (max-width: 767px) {

	.modal-open {

		 //.header { padding-right: 17px}

		 .modal { 
			padding-right: 0 !important;
		}

	}



	.device-iphone {
		//padding-bottom: 44px;
		//overflow: auto;
	}

	.menu-open {
		overflow: hidden;
		height: 100%;
		width: 100%;
		position: fixed;
	}

	.page {
		//margin-top: 60px;
		padding-top: 60px;
		padding-bottom: 40px;
	}	

	.icon-back {
		display: inline-block;
	}

	.mobile-menu-back {
		cursor: pointer;
	}		 	 	

  //header

  .header {
		height: 60px;
		padding: 20px 15px;
		position: fixed;
		top: 0;
		left: 0;

		.mobile-menu-back {
			display: block;
		}
	}

	.pages-header {

		.logo-block {
			text-align: center;
			width: auto;

			img {
				display: none;
			}
			
		}

		.title {
			display: block;
			font-size: 17px;
			font-weight: 600;
			color: #666;
			text-align: center;
			display: inline-block;
			vertical-align: top;
		}

		

	}

	.header-top-block {
		height: 100%;
		display: block;
		position: relative;
	}

	.search-block {
		//display: none;
	}

	.logo-block {
		width: 120px;
		margin: 0 auto;
	}	

	.icon-mobile-cart {
		display: inline-block;
	}

	.icon-cart {
		display: none;
	}

	.cart-block {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;

	}

	.cart-title {
		height: 100%;
		//width: 22px;
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}

		span {
			display: none;
		}

		.mobile-num {
			display: inline-block;
			margin-right: 8px;
			text-decoration: none;
			color: #fff;
			font-weight: 600;

			background: #db385e;
			border-radius: 50%;
			//padding: 2px 5px;
			width: 22px; 
			height: 22px;
			line-height: 22px;
			vertical-align: middle;
			text-align: center;
		}

		&:hover,
		&:focus,
		&:active {
			text-decoration: none;
		}
		
	}

	//nav

	.navigation {
		height: auto;
		width: 100%;
		position: absolute;
		top: 23px;
		left: 0;
		padding: 0 15px;
	}

	.mobile-menu {
		cursor: pointer;
		width: 50px;
		height: 20px;
		display: block;

		.icon-mobile-menu {
			display: inline-block;
		}

		.icon-menu-close {
			display: none;
		}	

	}

	.is-open {

		.icon-mobile-menu {
			display: none;
		}

		.icon-menu-close {
			display: inline-block;
		}

	}	

	.mobile-menu-back {
		display: none;
	}

		nav ul {
			height: 0;
			transition: height 0.4s;
			background: #fff;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			flex-direction: column;					
			font-size: 18px;
			position: absolute;
			top: 37px;
			left: 0;						
			//height: 100vh;
			width: 100%;			
			padding: 0 15px;
			//overflow-y: scroll;
			
			 -webkit-overflow-scrolling: touch;
			z-index: 1000;

		}
		
		/* mobile nav  */

		.showing {
			height: calc(100vh - 60px);
			overflow: auto;
		}

		/* end */

		.nav-bar {
			width:100%;
			display: block;

			ul {

				li {
					box-sizing: border-box;
					width: 100%;
					text-align: left;
					border-bottom: 1px solid $border-color;
					padding: 27px 0 10px 0;

					&:first-child {
						position: static;	
						border-bottom: none;					
					}

				}

			}	

		}		

	.search-block {
		border: 1px solid $border-color;
		padding: 10px;

		::-webkit-input-placeholder {text-decoration: none; color: #727272;}
		::-moz-placeholder          {text-decoration: none; color: #727272;}/* Firefox 19+ */
		:-moz-placeholder           {text-decoration: none; color: #727272;}/* Firefox 18- */
		:-ms-input-placeholder      {text-decoration: none; color: #727272;}
	}

	.search-title {
		width: 50%;
	}

//nav-end

.table-header {
	height: auto;

	.navigation {
		position: static;
	}

	.nav-bar {
		height: auto;
	}

	.table-menu {
		height: auto;
	}

	.search-block {
		top: 0;
		border: none;
		padding: 0;
	}

	.nav-bar ul li {
		border-bottom: none;
	}

}

//MODAL

	#myModal {
    	overflow: hidden;
	}

	.modal-dialog {
		margin: 0;		
		width: 100%;
		height: 100%;

		.close {
			opacity: 1;
			margin: auto;
			right: 15px;
			top: 19px;			
		}

	}

	.modal-content {		
		position: relative;
	}	

	

	.modal-footer {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
	}

	.modal {

		
		.modal-header {
			padding: 0;
			height: 30px;
			display: none;

			p {
				//line-height: 30px;
			}
		}

		.modal-body {
		height: calc(100vh - 60px - 50px);
	    overflow: auto;	   
	    box-sizing:border-box;
	    padding-bottom: 95px;

	    	.modal-header {
	    		display: block;
	    		margin-bottom: 10px;

	    		p {
	    			line-height: normal;
	    		}	    		
	    	}
		}


		h3 {
			display: block;
			font-size: 17px;
			font-weight: 600;
			color: #727272;
			text-align: center;
			height: 60px;
			padding: 17px 0;
			border-bottom: 1px solid $border-color;
		}

		.modal-cart-block {
			min-height: 168px;
			position: relative;			
		}

		.cart-img-block,
		.cart-description-block {
			height: 88px;
		}

		.delete-link {
			padding: 0;
			position: absolute;
			//bottom: 15px;
			left: 73px;

			top: 100%;
    		margin-top: -35px;
		}

		

	}

	//HOMEPAGE

	.homepage	{
		top: 60px;
		//padding-top: 60px;
		

		.content-wrap {

			h1 {
				font-size: 18px;
				color: #000;
			}

		}

		.content-button {
			width: 101px;
			height: 36px;			
			font-size: 14px;
		}

		.content {		
			height: calc( (100% - 60px - 40px) / 4 );
			border-bottom: none;	
		}

		.content-block {
		border-bottom: 1px solid $border-color;		

			&:nth-child(2n) {
				border-left: none;
				padding-left: 5%;
			}

			&:nth-child(2n+1) {
				padding-left: 5%;
			}

		}

		.content-block-1 {
		//background: url(../images/block-1-bg.png) 100% 0 no-repeat;
		//background-size: contain;
		justify-content: flex-start;

		.img-wrap {
			position: absolute;
			left: auto;
			right: 0;
			top: 0;			
		}

	}

	.content-block-2 {
		//background: url(../images/block-2-bg.png) 100% 0 no-repeat;
		//background-size: contain;
		justify-content: flex-start;

			.img-wrap {
			position: absolute;
			left: auto;
			right: 0;
			top: 0;			
		}

	}	

	.content-block-3 {
		//background: url(../images/block-3-bg.png) 100% 0 no-repeat;
		//background-size: contain;
		justify-content: flex-start;

			.img-wrap {
			position: absolute;
			left: auto;
			right: 0;
			top: 0;			
		}

	}

	.content-block-4 {
		//background: url(../images/block-4-bg.png) 100% 0 no-repeat;
		//background-size: contain;
		justify-content: flex-start;

			.img-wrap {
			position: absolute;
			left: auto;
			right: 0;
			top: 0;			
		}

	}

		.slide-wrap {

			.gradient-block {
				display: none;
			}

		}

		.bottom-block {
			display: none;
		}

		.bg-section {
			display: none;
		}		

	}

	//FOOTER

	.footer.page-footer {
		position: static;
		height: 40px;
		margin-top: -40px;
	}

	.footer {
		border-top: none;
		position: absolute;
    z-index: 70;
    bottom: 0;
    width: 100%;

		.footer-top-block {
			display: none;
		}

		.footer-bottom-block {
			height: 40px;
		}

	}

	//ABOUT

	.about {
		padding-top: 60px;
		padding-bottom: 40px;
		//top: 60px;

		.pagewrap {
			background: url(../images/about-bg-mob-1.png) no-repeat;
			background-position: 0 0;
			background-size: contain;
			//height: calc(100vh - 65px - 40px);
			//height: calc(100vh - 60px);
			
		}

		.bg-section {
			background-image: url(../images/about-bg-mob-2.png);
			background-color: #f2f9f9;
			background-position: 100% 0;
			background-repeat: no-repeat;
			background-size: cover;
			//height: calc(100vh - 65px - 40px);
			//height: calc(100vh - 60px); /*вариант №2 без плагина сос кроллом текста
			height: 100%;	
		}

		.top-section {			
			//height: calc(100vh - 65px - 40px);
			height: calc(100vh - 60px);

		}

		.content {
			//margin-top: 65px;
			//margin-bottom: 40px;
			position: relative;

		}

		.bottom-section {		
			//height: calc(100vh - 65px - 40px);
			//height: calc(100vh - 60px - 95px); /*вариант №2 без плагина сос кроллом текста
			height: 100%;
			float: none;		
			//border-top: 15px solid transparent;
			//border-bottom: 15px solid transparent;

			&:after {
				content: "";
				display: table;
				clear: both;
			}
						

			.text {
				height: 100%;
				//padding-bottom: 95px;	
				
			}		
		}

		.pointer-button {
			display: none;			
			color: #979797;
			font-size: 42px;
			width: 50px;
			font-weight: 800;
			//display: inline-block;
			text-align: right;
			text-decoration: none;

			position: absolute;
			bottom: 25px;
			right: 15px;

			&:hover,
			&:focus,
			&:active {
				text-decoration: none;
			}

		}

	}	

	//CATALOG 

	.catalog {
		padding-bottom: 60px;	

		.calalog-block {			
		}

		.left-column {
			position: static;
			width: 100%;

			.tab-select {
				display: none;
			}

			
			
			.current {				
				text-align: center;
				display: block;	
				font-size: 15px;
				color: #dc617d;
				font-weight: 600;			

				&:after {
					content: '';
			    border-top: 2px solid #dc617d;
			    border-left: 2px solid #dc617d;
			    border-bottom: none;
			    border-right: none;
			    display: inline-block;
			    margin-left: 10px;
			    height: 8px;
			    width: 8px; 
			    margin-top: -2px;		    
	        transform-origin: 44% 44%;
	        transform: rotate(-135deg);	
					transition: all 0.15s ease-in-out;
  			}

			}

			.current-visible {

				&:after {			    
			    content: '';			            
	        transform: rotate(-135deg);		    
  			}

			}

			.nice-select.open {

				.list {
					transition: 0.6s;
					background: #f2f9f9;
					z-index: 20;				
				}

				.current {

						&:after {
							transform: rotate(45deg);	
							transition: all 0.15s ease-in-out;
						} 

					}

			}

			.nice-select {
				width: 100%;
				text-align: center;
				background: #f2f9f9;
				border-radius: 0;
				border: none;
				border-bottom: 1px solid $border-color;
				position: absolute;
				left: 0;
				right: 0;
				z-index: 300;
				display: block;


				
				&:after {
					 border-bottom: none;
			    border-right: none;
				}

				.list {					
					width: 100%;
					margin-top: 0;
					border-radius: 0;								

					li {
						padding-left: 0;
						padding-right: 0;
						text-align: center;
						font-size: 15px;
						color: rgba(220, 97, 125, 0.5);
						font-weight: 600;

						a {
							color: rgba(220, 97, 125, 0.5);
							font-weight: 600;
							text-decoration: none;

							&:hover,
							&:focus,
							&:active {
								color: #dc617d;
								font-weight: 600;
								text-decoration: none;
							}

						}

					}

					.option.focus {
						color: #dc617d;
					}

				}				

  		}

		}

		.right-column {
			float: none;
			margin-top: 43px;
			width: 100%;

			.title {
				display: none;
			}

			.label {
				display: none;

			}

			.icon-filter {
				vertical-align: middle;
				margin-right: 5px;
			}		

			.mob-label {
				display: block;
				text-align: center;
			}

			.left-filter {
				padding-left: 0;
    		padding-right: 0;
				width: 100%;
				text-align: center;

				.label {
					padding: 13px 0;
				}	

				.nice-select {
					width: 100%;

					.list {
						z-index: 25;
						width: 100%;
						margin-top: 0;

						li {
							text-align: center;
						}

					}

						&:after {
						content: "";
						width: 0;
						height: 0;
						position: static;
					}

				}
				
			}

			.right-filter {				
				margin-top: 10px;
				float: none;
				padding-left: 0;
				padding-right: 0;	

				.label {
					padding: 13px 0;
					width: 100%;
				}	

				.nice-select {

					&:first-child {
						float: left;
						margin-left: 0;					
					}

					&:last-child {
						float: right;
						margin-right: 0;
						margin-top: 12px;	
					}

				}

				.list {
						z-index: 25;
						padding-left: 0;
						padding-right: 0;
						border-radius: 0;
						border-right: 1px solid $border-color;
						border-left: 1px solid $border-color;
						border-bottom: 1px solid $border-color;	
						//border-left: 1px solid #fff;
						//border-right: 1px solid #fff;
						box-sizing: content-box;
						left: -1px;
					}

				.option {
						
					}

			}

		}

		.catalog-list {
			text-align: center;
			margin-left: 0;
			margin-right: 0;
			
			&:after {
				content: "";
				display: inline-block;
				width: 100%;
			}

		}	


		.catalog-item {
				//width: 220px;
				display: inline-block;			
				//height: 260px;
				height: auto;			

			.img-wrap {
				text-align: center;	
				width: 100%;
				//height: 271px;				
				overflow: hidden;
				border-radius: 10px;			

			}

		}

		

		.catalog-item-description {

			p {
				font-size: 12px;				
			}			

		}		

	}	

	//PRODUCT

	.product {

		.description {
			max-height: 100%;
			overflow: visible;
			overflow-y: visible;
		}

		.product-left-column {
			margin-left: 0;
		}

		.slider-nav {
			display: none;
		}

		.breadcrumb-list {
			display: none;
		}

		.slider-for {			
			margin: 0 auto;

			.img-wrap {
				width: 292px;
				height: 390px;
				overflow: hidden;	
				margin: 0 auto;		

				img {
					width: 100%;
					
				}

			}			

		}

		.slick-dots {
			position: static;

			li {
				width: 10px;
				height: 10px;
				margin: 0 3px;

				button {
					width: 100%;
					height: 100%;				
					background: #db385e;
					opacity: 0.5;
					border-radius: 50%;
				}
				
			}

			.slick-active {

				button {					
					opacity: 1;
				}
				
			}

		}

		.product-right-column {
			margin-top: 20px;			
		}		

		.page-slider-block {
			padding-left: 15px;
			padding-right: 15px;
		}

		.bottom-block {
			display: none;
		}

		.size-block {
			 margin: 20px auto 10px 0;
		}

		.size-list {

			li {
				margin-bottom: 10px;
			}
		}		

	}

	//NEWS

	.news {

		.right-column {
			float: none;
		}

		.news-row-wrap {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: -30px;

			&:last-child {
				margin-bottom: 0;
			}
			
		}

		.news-wrap {
			margin-top: 35px;

			&:last-child {
				margin-bottom: 35px;				
			}

		}

			.paging {
			display: flex;
			margin-left: 15px;
			margin-bottom: 25px;

			li {
				border: 1px solid #979797;
				border-radius: 3px;
				padding: 10px 0;
				width: 40px;
				height: 40px;
				text-align: center;
				cursor: pointer;
				list-style: none;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					border: 1px solid #04aaa8;

					a {
						color: #04aaa8;
					}

				}

				a {
					font-size: 16px;
					text-decoration: none;
					font-weight: 600;
					color: #979797;
				}

			}

			.page-active {
				border: 1px solid #04aaa8;

				a {
					color: #fff;
				}

			}

		}	

		.paging {
			justify-content: center;
		}
		
	}

//NEWS-PAGE

	.news-page {		

		.right-column {
			padding-left: 15px;
			padding-right: 15px;
			margin-left: 0;
			margin-right: 0;
		}

		.news-row-wrap {			
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}

		.news-wrap {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;
		}	

		.back-link {
			display: none;
		}

		.news-slider-for {

			.img-wrap {
				//height: 300px;
			}

		}

		.news-slider-nav {

			.slider-item-perv {				
				//max-height: 43px;
			}

		}		

	}

//CONTACTS

	.contacts {
		background: none;
		padding-top: 80px;

		.contacts-wrap {
			padding-left: 15px;
			padding-right: 15px;
		}

		.left-column {
			width: 100%;
			float: none;
			margin: 15px auto 30px;

			.news-title {
				display: block;
				text-align: center;
				font-size: 16px;
				color: #666;
				line-height: 1.5em;
			}

		}

		.news-block {
			width: 300px;
			background: #f2f9f9;
			margin-bottom: 60px;

			&:after {
				content: "";
				background: #f2f9f9;
			}

		}

		.right-column {
			background: #f2f9f9;

			padding-right: 0;
	    padding-left: 0;
	    margin-right: 0;
	    margin-left: 0;

	    h2 {
				display: none;
	    }

	    .news-title {
	    	display: none;
	    }

		}

	}

	//SHOP

	.shop {
		padding-top: 90px;
    	padding-bottom: 70px;

		.title {
			display: none;
		}

		.column {
			margin-left: 0;			
		}

		.left-column {
			padding-left: 15px;
		}

		.right-column {
			//padding-right: 0;
			margin-top: 30px;
		}

		.form-block {
			border-top: 0;
			padding: 0;
		}

		.input-radio-wrap {

			label {
				width: 90%;
			}

		}

		.bottom-wrap {
			padding: 0 15px;
		}

		.cart.modal {

			.button-wrap {
				text-align: center;
				margin: 35px auto 0;		

			}

		.modal-button {
			display: block;
			
			} 

			.modal-body {
				max-height: 100%;
			}	

		}	

		

	}

	//THANK

	.thank {
		

		.content-block {
			//height: calc(100vh - 60px - 40px);	
			height: auto;
			margin: 15px auto;					
			overflow-y: auto;
			-webkit-overflow-scrolling: touch;
		}

	}	

	//ORDER-INFO

	.order-info {

		.content-block {
			width: 100%;
			padding: 0 15px;
		}
		

		.table-block {
			width: 100%;
		}
	}

	//PAYMENT

	.payment {
		padding: 90px 15px 70px 15px;

		.input-block {

			.input-wrap {
				width: auto;

				input {
					width: 85px;
				}
			}
		}		

		.input-wrap {
			width: calc(33.333% - 15px);
			margin: 20px 5px 0 5px;

			input {
				width: 100%;
				margin-right: 0;
				
			}

			&.input-radio-wrap {
				width: 100%;

				input {						
					width: 10px;
					height: 10px;
					margin-right: 15px;	
					visibility: hidden;

					&:before {
						width: 11px;
						height: 11px;
						top: 3px;
						left: -5px;	
						visibility: visible;				
					}	

					&:after {
						width: 21px;
						height: 21px;
						left: -6px;
						top:2px;
						visibility: visible;
					}				
				}
			}
		}

		@-moz-document url-prefix() {

			.input-wrap {			

				&.input-radio-wrap {
					

					input {						
						visibility: visible;							
					}
				}
			}

		}		

		.input-description-block {
			width: calc(100% - 65px);
		}

		.modal {

			.modal-body {
				padding: 15px;
			}

		}

		
		
	}	



}