$icon-font-path: '../fonts/';

@media only screen and (min-width: 768px) {

	

	.page {
		//margin-top: 95px;
		//margin-bottom: 65px;
		padding-top: 95px;
		padding-bottom: 60px;
	}

	.icon-back {
		display: none;
	}			 	

	.hidden-sm {
		display: none;
	}

	//header

 .header {
 		position:fixed; 
		height: 95px;
		margin-bottom: -95px;
		//position: absolute;
		top: 0;
		left: 0;

		.title {
		display: none;
		}

	}	


	.header-top-block {		
		padding: 10px 0;
	}

	.icon-cart {
		display: inline-block;
		margin-left: 13px;
	}

	.icon-mobile-cart {
		display: none;
	}

	.mobile-menu {
		display: none;
	}

	

.table-header {
	height: auto;

}

	.cart-title {

		.mobile-num {
			display: none;
		}
	}

	//MODAL

	.modal-open {
		//margin-right: -17px;
		//padding-right: 17px;
	}

	.modal {
		overflow-y: auto; 

		h3 {
			display: none;
		}

	}

	.modal-body {

		.modal-header {
			display: none;
	    		
    		p {
    			
    		}
	    }
	}



	

	//HOMEPAGE

	.homepage	{
		top: 95px;
		padding-top: 95px;		

	.content-wrap {
		width: 265px;
	}	

	 .content {		
			height: calc( (100% - 95px - 65px) / 4 );
			border-bottom: none;		
		}

		.content-block {
			border-bottom: 1px solid $border-color;

			&:nth-child(2n) {
				border-left: none;
				padding-left: 5%;
			}

			&:nth-child(2n+1) {
				//padding-right: 5%;
			}

		}

		.bottom-block {
			display: none;
		}		

	}

	//FOOTER

	.footer.page-footer {
		position: static;
		height: 65px;
		margin-top: -65px;
	}

	.footer {
		position: absolute;
    z-index: 70;
    bottom: 0;
    width: 100%;

		.footer-top-block {
			display: none;
		}

	}

	//ABOUT

	.about {
		top: 95px;
    padding-top: 95px;

		.pagewrap {
			background: url(../images/about-bg-mob-1.png) no-repeat;
			background-position: 0 0;
			background-size: contain;
			height: calc(100vh - 95px - 65px);
		}

		.bg-section {
			background-image: url(../images/about-bg-mob-2.png);
			background-color: #f2f9f9;
			background-position: 100% 0;
			background-repeat: no-repeat;
			background-size: cover;
			height: calc(100vh - 95px - 65px);
		}

		.top-section {			
			height: calc(100vh - 95px - 65px);
		}

		.content {
			margin-top: 95px;
			margin-bottom: 65px;
		}

		.bottom-section {		
			height: calc(100vh - 95px - 65px);
		}

		.pointer-button {
			display: none;
		}

	}

	//CATALOG 

	.catalog {		
		//padding: 0 0 3.6rem 0;
		padding-bottom: 80px;

		.left-column {
			position: static;
			width: 100%;

			.tab-select {
				display: none;
			}

			.nice-select {

				.current {				
				text-align: center;
				display: block;	
				font-size: 15px;
				color: #dc617d;
				font-weight: 600;			

					&:after {
						content: '';
				    border-top: 2px solid #dc617d;
				    border-left: 2px solid #dc617d;
				    border-bottom: none;
				    border-right: none;
				    display: inline-block;
				    margin-left: 10px;
				    height: 8px;
				    width: 8px; 
				    margin-top: -2px;		    
		        transform-origin: 44% 44%;
		        transform: rotate(-135deg);	
		        transition: all 0.15s ease-in-out;	    
	  			}

				}

				&.open {

					.current {

						&:after {
							transform: rotate(45deg);
							transition: all 0.15s ease-in-out;						
						}

					}					
					
				}

			}			
			
			.current-visible {

				&:after {			    
			    content: '';			            
	        transform: rotate(-135deg);		    
  			}

			}

			.nice-select.open {

				.list {
					transition: 0.6s;					
									
				}

			}

			.nice-select {
				width: 100%;
				text-align: center;
				background: #f2f9f9;
				border-radius: 0;
				border: none;
				border-bottom: 1px solid $border-color;
				position: absolute;
				left: 0;
				right: 0;
				z-index: 30;
				display: block;
				
				&:after {
					 border-bottom: none;
			    border-right: none;
				}

				.list {					
					width: 100%;
					margin-top: 0;
					border-radius: 0;
					background: #f2f9f9;			

					li {
						padding-left: 0;
						padding-right: 0;
						text-align: center;
						font-size: 15px;
						color: rgba(220, 97, 125, 0.5);
						font-weight: 600;						

						a {
							color: rgba(220, 97, 125, 0.5);
							font-weight: 600;
							text-decoration: none;

							&:hover,
							&:focus,
							&:active {
								color: #dc617d;
								font-weight: 600;
								text-decoration: none;
							}

						}

					}

					.option.focus {
						color: #dc617d;
					}

				}				

  		}

		}

		.right-column {
			margin-top: 43px;
			width: 100%;

			.title {
				display: none;
			}

			.label {
				display: none;
				padding: 13px 0;
				width: 100%;
			}

			.icon-filter {
				vertical-align: middle;
				margin-right: 5px;
			}		

			.mob-label {
				display: block;
				text-align: center;
			}

			.left-filter {
				padding-left: 0;
    			padding-right: 0;
				width: 100%;
				text-align: center;

				.nice-select {
					width: 100%;					

					&:after {
						content: "";
						width: 0;
						height: 0;
						position: static;
					}

					.list {
						z-index: 25;
						width: 100%;
						margin-top: 0;

						li {
							text-align: center;
						}

					}

				}

			}

			.right-filter {				
				float: none;
				margin-top: 15px;
				padding-left: 0;
				padding-right: 0;						

				.nice-select {

					&:first-child {
						float: left;
						margin-left: 0;					
					}

					&:last-child {
						float: right;
						margin-right: 0;
						margin-top: 12px;	
					}

					.list {
						z-index: 25;
						padding-left: 0;
						padding-right: 0;
						border-left: 1px solid $border-color;
						border-left: 1px solid $border-color;
						border-bottom: 1px solid $border-color;
						box-sizing: content-box;
						left: -1px;
					}

					.option {
						padding-left: 10px;
    				padding-right: 10px;
					}

				}

			}

		}

		.catalog-list {
			text-align: left;

			
			&:after {
				content: "";
				display: inline-block;
				width: 100%;
			}

		}

	

		.catalog-item {
			width: calc(33.333% - 20px);
			//width: 33.333%;
			//width: 220px;
			text-align: center;
			//display: inline-block;
			//padding: 0 15px;
			//height: 260px;
			margin-bottom: 20px;

			.img-wrap {
				width: 100%;
				height: 271px;
				overflow: hidden;
				border-radius: 10px;		

				img {
					width: 100%;					
					height: 100%;
			  	-o-object-fit: cover;
    			object-fit: cover;
					border-radius: 10px;
				}

			}

		}	

	}

	//PRODUCT

	.product {

		.product-left-column {
			margin-left: 0;
		}

	.slider-nav {
			display: none;
		}

		.breadcrumb-list {
			display: none;
		}

		.slider-for {			
			margin: 0 auto;

			.img-wrap {
				width: 292px;
				height: 390px;
				overflow: hidden;	
				margin: 0 auto;		

				img {
					width: 100%;
					
				}

			}			

		}

		.slick-dots {
			position: static;

			li {
				width: 10px;
				height: 10px;
				margin: 0 3px;

				button {
					width: 100%;
					height: 100%;				
					background: #db385e;
					opacity: 0.5;
					border-radius: 50%;
				}
				
			}

			.slick-active {

				button {					
					opacity: 1;
				}
				
			}

		}

		.product-right-column {
			margin-top: 20px;			
		}	

		.page-slider-block {
			padding-left: 15px;
			padding-right: 15px;
		}

		.bottom-block {
			display: none;
		}	

	}

	//NEWS

	.news {

		.right-column {
			float: none;

			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.news-row-wrap {
			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;

			&:last-child {
				margin-bottom: 0;
			}
			
		}

		.news-wrap {
			margin-top: 35px;

			margin-bottom: 0;
			margin-left: 0;
			margin-right: 0;
			padding-left: 0;
			padding-right: 0;

			&:last-child {
				margin-bottom: 35px;				
			}

		}

		.paging {
			display: flex;
			margin-left: 15px;
			margin-bottom: 25px;

			li {
				border: 1px solid #979797;
				border-radius: 3px;
				padding: 10px 0;
				width: 40px;
				height: 40px;
				text-align: center;
				cursor: pointer;
				list-style: none;
				margin-right: 10px;

				&:last-child {
					margin-right: 0;
				}

				&:hover {
					border: 1px solid #04aaa8;

					a {
						color: #04aaa8;
					}

				}

				a {
					font-size: 16px;
					text-decoration: none;
					font-weight: 600;
					color: #979797;
				}

			}

		}	 
		
	}

//NEWS-PAGE

	.news-page {

		.right-column {
			padding-left: 0;
			padding-right: 0;
			margin-left: 0;
			margin-right: 0;
		}

		.back-link {
			display: none;
		}

	}	

//CONTACTS

	.contacts {
		background: none;

		.left-column {
			width: 100%;
			float: none;
			margin: 15px auto 30px;

			.news-title {
				display: block;
				text-align: center;
				font-size: 16px;
				color: #666;
				line-height: 1.5em;
			}

		}

		.news-block {
			width: 300px;
			background: #f2f9f9;
			margin-bottom: 60px;

			&:after {
				content: "";
				background: #f2f9f9;
			}

		}

		.right-column {
			background: #f2f9f9;

			padding-right: 0;
	    padding-left: 0;
	    margin-right: 0;
	    margin-left: 0;

	    h2 {
				display: none;
	    }

	    .news-title {
				display: none;
			}

		}

	}	

	//SHOP

	.shop {
		padding-top: 135px;
		padding-bottom: 100px;	

		.column {
			margin-left: 0;			
		}

		.left-column {
			padding-left: 0;
		}

		.right-column {
			padding-right: 0;
		}

	}

//THANK

	.thank {

		.content-block {
			height: calc(100vh - 95px - 65px);
			margin-top: 95px;	
		}

	}							 		  		
  
}