$icon-font-path: '../fonts/';

$page-color: #313131;
$border-color: #dddddd;

.order {
	min-height: calc(100% - 140px);
	margin-top: 140px;
	margin-bottom: 0;

	.container {
		width: 1170px !important;
	}	

	
	.breadcrumb-list {	

		li {
			list-style: none;
			float: left;

			&:before {
				content: "<";
				font-size: 14px;
				font-weight: 600;
				color: #686967;
				padding: 0 5px;
			}

			&:last-child {

				&:after {					
					content: "";
				}

			}

			a {
				font-size: 14px;
				font-weight: 600;
				color: #686967;
				text-decoration: underline;
				&:hover,
				&:focus,
				&:active {					
					text-decoration: none;
				}

			}

		}		

	}

	.cart-page-title {
		font-size: 13px;
		text-transform: uppercase;
		color: $page-color;
		font-weight: 700;
		display: block;
		text-align: left;
		margin-top: 30px;
	}

	.order-left-column {
		float: left;
		width: 300px;
	}

	.order-form {
		width: 100%;

		::-webkit-input-placeholder {font-size: 18px; color: #a7a7a7;}
		::-moz-placeholder          {font-size: 18px; color: #a7a7a7;}/* Firefox 19+ */
		:-moz-placeholder           {font-size: 18px; color: #a7a7a7;}/* Firefox 18- */
		:-ms-input-placeholder      {font-size: 18px; color: #a7a7a7;}
	}

	.input-wrap {
		margin-top: 30px;
	}

	.label {
		font-size: 13px;
		text-transform: uppercase;
		color: $page-color;
		font-weight: 700;
		display: block;
		text-align: left;
		margin: 0;
		padding: 0;
		margin-bottom: 12px;
	}

	.order-input {
		width: 100%;
		border: none;
		border-bottom: 1px solid $border-color;
		padding-bottom: 15px;
	}

	.selection {
		display: inline-block;
		font-size: 16px;
		margin-right: 10px;
		cursor: pointer;
		padding-bottom: 5px;
		color: #a7a7a7;		

		&:last-child {
			margin-right: 0;
		}

	}

	.menu-active {
		color: $page-color;
		font-weight: 700;
		border-bottom: 2px solid #dc617d;
		margin-bottom: -2px;
	}

	.order-right-column {
		float: right;
		//width: calc(100% - 350px);
		width: 52%;
	}

	.cart-page-block {
		margin-top: 40px;
	}	
	
	.cart-page-list {
		margin-top: 25px;
		//display: flex;
		//justify-content: center;

		li {
			float: left;
			margin-right: 30px;
			width: 120px;
			overflow: hidden;
			margin-bottom: 20px;

			&:last-child {
				margin-right: 0;
			}

		}

	}

	.product-block {
		text-align: center;		

		.img-wrap {
			width: 100%;
			height: 160px;
			overflow: hidden;
			border-radius: 5px;
			margin: 0 auto;

			img {
				width: 100%;			
				border-radius: 5px;
			}

		}

	}

	.table-description-block {
		margin-top: 10px;
	}

	.code {
		font-size: 14px;
		font-weight: 600;
		color: #666;
	}

	.price {
		margin: 8px auto;
	}

	.button-wrap {
		margin-top: 50px;
	}

	.button {
		width: 200px;
	}

}
 
