/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-back {
  background-image: url(../images/sprite.png);
  background-position: -85px 0px;
  width: 26px;
  height: 19px;
}
.icon-cart-button {
  background-image: url(../images/sprite.png);
  background-position: -85px -62px;
  width: 24px;
  height: 18px;
}
.icon-cart-w {
  background-image: url(../images/sprite.png);
  background-position: 0px -81px;
  width: 18px;
  height: 20px;
}
.icon-cart {
  background-image: url(../images/sprite.png);
  background-position: -111px 0px;
  width: 16px;
  height: 21px;
}
.icon-filter {
  background-image: url(../images/sprite.png);
  background-position: -18px -81px;
  width: 20px;
  height: 17px;
}
.icon-heart {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 85px;
  height: 81px;
}
.icon-main-button {
  background-image: url(../images/sprite.png);
  background-position: 0px -101px;
  width: 18px;
  height: 18px;
}
.icon-menu-close-1 {
  background-image: url(../images/sprite.png);
  background-position: -85px -19px;
  width: 22px;
  height: 22px;
}
.icon-mobile-cart {
  background-image: url(../images/sprite.png);
  background-position: -85px -41px;
  width: 22px;
  height: 21px;
}
.icon-mobile-menu {
  background-image: url(../images/sprite.png);
  background-position: -38px -81px;
  width: 22px;
  height: 14px;
}
.icon-search {
  background-image: url(../images/sprite.png);
  background-position: -18px -101px;
  width: 18px;
  height: 18px;
}
