$icon-font-path: '../fonts/';

$page-color: #313131;
$border-color: #dddddd;

.table {	
	margin-top: 150px;
	margin-bottom: 0;
	

	.container {
		width: 1170px !important;
	}	

	.table-block {
		padding: 15px 0;

		&:nth-child(2n) {
			background: #f2f9f9;
		}

		&:nth-child(2n+1) {
			background: #f8fcfc;
		}

	}

	.product-block {
		text-align: center;
	

		.img-wrap {
			width: 120px;
			height: 160px;
			overflow: hidden;
			border-radius: 5px;
			margin: 0 auto;

			img {
				width: 100%;			
				border-radius: 5px;
			}

		}

	}

	.table-description-block {
		margin-top: 10px;
	}

	.code {
		font-size: 14px;
		font-weight: 600;
		color: #666;
	}

	.price {
		margin: 8px auto;
	}

	.right-column {
		float: right;
		text-align: justify;   

    /*&:after {
			content: "";
			display: inline-block;
	    vertical-align: middle;
	    width: 0;
	    height: 100%;
    }*/

	}

	.size-block {
		//display: inline-block;		
    //vertical-align: middle;		
		padding: 11% 0;
		//text-align: justify;
		width: 100%;

		display: flex;
		justify-content: space-between;
		align-items: center;


		/*&:after {
			content: "";
			display: inline-block;
			width: 100%;
			vertical-align: middle;
			height: 0;
		}*/

		li {
			display: inline-block;
			list-style: none;
			text-align: center;
			padding: 9px 14px;
			border-radius: 5px;
			background: #ddefef;
			cursor: pointer;
			vertical-align: middle;

			span {
				display: block;
				font-size: 16px;

				&:first-child {
					font-weight: 600;
					margin-bottom: 10px;
				}

			}

		}

		.size-active {
			background: #dc617d;

			span {
				color: #fff;
			}

		}

	}

	.button-wrap {
		position: fixed;
		bottom: 25px;
		right: 50px;
	}

	.table-button {
		background: #dc617d;
		font-size: 15px;
		font-weight: 400;
		border-radius: 30px;

		&:hover,
		&:focus,
		&:active {
			background: #c34a66;
			transition: background 0.5s ease;
		}

	}

	.icon-cart-button {
		vertical-align: middle;
		margin-right: 13px;
	}

}